name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  actions:  read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Setup Java (Temurin 17)
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.38.

      - name: Get dependencies
        run: flutter pub get

      - name: Build APKs
        run: flutter build apk --release
